<a href="https://colab.research.google.com/github/Mutiiaarangln/pemrograman-dasar-/blob/main/pertemuan_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 17
salary = 5000000.0

print(type(age))
print(type(salary))

<class 'int'>
<class 'float'>

In [ ]:
x = 6
print(type(x))

x = 6.0
print(type(x))

x = 1+2j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
var = 10
print(var)
print(id(var))
var = 11
print(var)
print(id(var))

10
11642376
11
11642408

In [ ]:
x = True
print (type(x))

x = False
print(type(x))

<class 'bool'>
<class 'bool'>

In [ ]:
x = 'polibatam'
print(type(x))

<class 'str'>

In [ ]:
multi_line = """Halo!
kapan terakhir kali kita bertemu?
kita bertemu hari Jum'at yang lalu."""

print(multi_line)

Halo!
kapan terakhir kali kita bertemu?
kita bertemu hari Jum'at yang lalu.

In [ ]:
x = 'polibatam'
print(x[0])

p

In [ ]:
x = 'polibatam'
x[0] = 'F'

TypeError: 'str' object does not support item assignment

In [ ]:
x = 'polibatam'
print(x[2:])

libatam

In [ ]:
name = "Tiara"
print(f"Hello, nama saya {name}")

Hello, nama saya Tiara

In [ ]:
name = "saya mutii"
print("Nama saya %s" % (name))

Nama saya saya mutii

In [ ]:
name = "love"
print("Nama saya {}". format(name))

Nama saya love

In [ ]:
nama = "park juniil"
print("Nama saya :", nama)

Nama saya : park juniil

In [ ]:
x = [1, 2.2, 'polibatam']
print(type(x))

<class 'list'>

In [ ]:
x = [1, 2.2, 'Dicoding']
print(x)

[1, 2.2, 'Dicoding']

In [ ]:
x = [1, 'polibatam', True, 1.0]
print(x[2])

True

In [ ]:
x = [1, 2.2, 'polibatam']
x[0] = 'indonesia'
print(x)

['indonesia', 2.2, 'polibatam']

In [ ]:
# deklarasi variabel list
numbers = [16, 10, 26, 30]
# cara mengakses elemen dalam variabel list
numbers[0] # 16
numbers[1] # 10
numbers[2] # 26
numbers[3] # 30
# cara mengubah nilai elemen dalam variabel list
numbers[2] # 05
numbers[2] # 05

print (numbers[1]) #lakukan untuk setiap indekxnya dan lihat hasilnya

10

In [ ]:
# deklerasi variabel list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5) # [1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4 # [1, 2, 3, 4]

#menghapus elemen di indeks ke-2
numbers.pop(2) # [1, 2, 4]

# print lalu lihat hasilny

3

In [4]:
x = ["laptop", "monitor", "mouse", "mousepad", "keyboard", "webcam"," microphone"]

print(x[0:5:2])
print(x[1:])
print(x[:3])

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', ' microphone']
['laptop', 'monitor', 'mouse']

In [9]:
# Elemen tidak bisa diubah
propertyDetail = (1, "rumah", True)

X =(1, "Polibatam", 1+3j)
print(type)

<class 'type'>

In [10]:
x = (5, 'program', 1+3j)
print(x[1])
print(x[0:3])

program
(5, 'program', (1+3j))

In [17]:
x = (5, 'program', 1+3j)
x[1] = 'polibatam'

TypeError: 'tuple' object does not support item assignment

In [20]:
# deklarasi variabel tuple
numbers = (23, 43, 15, 34)

# cara mengakses elemen dalam variabel tuple
numbers[0] # 23
numbers[1] # 43
numbers[2] # 15

15

In [22]:
x = {1, 2, 7 ,2, 3, 13, 3}
print(x)
print(type(x))

{1, 2, 3, 7, 13}
<class 'set'>

In [24]:
set1 ={1, 2, 3, 4, 5}
set2 ={3, 4, 5, 6, 7}

union = set1.union(set2)
print("union:", union)

intersection = set1.intersection(set2)
print("intersection:", intersection)

union: {1, 2, 3, 4, 5, 6, 7}
intersection: {3, 4, 5}

In [27]:
# deklarasi variabel set a dan b
a = {1, 2, 3}
b = {2, 3, 4,}

# operasi gabungan
a.union(b) # {1, 2, 3, 4,}

# operasi irisan
a.intersection(b) # {2, 3}

# operasi perbedaan
a.symmetric_difference(b) # {1, 4}

{1, 4}

In [28]:
x = {'name': 'perseus Evans', 'age': 20, 'isMarried': False}
print(type(x))

<class 'dict'>

In [31]:
x = {'name': 'perseus Evans', 'age': 20, 'isMarried': False}

print(x[0])

KeyError: 0

In [32]:
x = {'name': 'perseus Evans', 'age' : 20, 'isMarried': False}

print(x['name'])

perseus Evans

In [33]:
x = {'name': 'perseus Evans', 'age' : 20, 'isMarried': False}

print(x)

{'name': 'perseus Evans', 'age': 20, 'isMarried': False}

In [35]:
x = {'name': 'perseus Evans', 'age' : 20, 'isMarried': False}
del x['isMarried']

print(x)

{'name': 'perseus Evans', 'age': 20}

In [36]:
x = {'name': 'perseus Evans', 'age' : 20, 'isMarried': False}
x ['name'] = "Exvan"

print(x)

{'name': 'Exvan', 'age': 20, 'isMarried': False}

In [41]:
# deklarasi variabel dictionary
propertyDetail = {"numFloors": 1, "propertyType": "Rumah", "hasTerrace": True, "hasGarage": False}

# cara mengakses elemn dalam varebel dictionary
propertyDetail["numFloors"] # 1
propertyDetail["propertyType"] # "Rumah"
propertyDetail["hasTerrace"] # True
propertyDetail["hasGarage"] # False

# cara mengubah nilai elemen dalam variabel dictionary
propertyDetail["hasTerrace"] = False

propertyDetail["hasTerrace"] # False

#print(propertyDetail["propertyType"])

False