<a href="https://colab.research.google.com/github/Mutiiaarangln/pemrograman-dasar-/blob/main/pertemuan_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [188]:
age = 17
salary = 5000000.0

print(type(age))
print(type(salary))

<class 'int'>
<class 'float'>

In [189]:
x = 6
print(type(x))

x = 6.0
print(type(x))

x = 1+2j
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

In [190]:
var = 10
print(var)
print(id(var))
var = 11
print(var)
print(id(var))

10
11642376
11
11642408

In [191]:
x = True
print (type(x))

x = False
print(type(x))

<class 'bool'>
<class 'bool'>

In [192]:
x = 'polibatam'
print(type(x))

<class 'str'>

In [193]:
multi_line = """Halo!
kapan terakhir kali kita bertemu?
kita bertemu hari Jum'at yang lalu."""

print(multi_line)

Halo!
kapan terakhir kali kita bertemu?
kita bertemu hari Jum'at yang lalu.

In [194]:
x = 'polibatam'
print(x[0])

p

In [195]:
x = 'polibatam'
x[0] = 'F'

TypeError: 'str' object does not support item assignment

In [201]:
x = 'polibatam'
print(x[2:])

libatam

In [200]:
name = "Tiara"
print(f"Hello, nama saya {name}")

Hello, nama saya Tiara

In [199]:
name = "saya mutii"
print("Nama saya %s" % (name))

Nama saya saya mutii

In [198]:
name = "love"
print("Nama saya {}". format(name))

Nama saya love

In [197]:
nama = "park juniil"
print("Nama saya :", nama)

Nama saya : park juniil

In [202]:
x = [1, 2.2, 'polibatam']
print(type(x))

<class 'list'>

In [203]:
x = [1, 2.2, 'Dicoding']
print(x)

[1, 2.2, 'Dicoding']

In [204]:
x = [1, 'polibatam', True, 1.0]
print(x[2])

True

In [207]:
x = [1, 2.2, 'polibatam']
x[0] = 'indonesia'
print(x)

['indonesia', 2.2, 'polibatam']

In [215]:
# deklarasi variabel list
numbers = [16, 10, 26, 30]
# cara mengakses elemen dalam variabel list
numbers[0] # 16
numbers[1] # 10
numbers[2] # 26
numbers[3] # 30
# cara mengubah nilai elemen dalam variabel list
numbers[2] # 05
numbers[2] # 05

print (numbers[1]) #lakukan untuk setiap indekxnya dan lihat hasilnya

10

In [212]:
# deklerasi variabel list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5) # [1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4 # [1, 2, 3, 4]

#menghapus elemen di indeks ke-2
numbers.pop(2) # [1, 2, 4]

# print lalu lihat hasilny

3